<!DOCTYPE html>
<html lang="en">

<head>

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="facebook-domain-verification" content="plfly5a8dktgdy17nvv2h8zsrpc9g5" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Paintello</title>
  
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">  
  <meta name="theme-color" content="#ffffff">  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/assets/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/assets/vendor/hs-megamenu/src/hs.megamenu.css">
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bmo.min.css" rel="stylesheet">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet">
  <link href="/css/magiczoomplus.css" rel="stylesheet">
  <link href="/css/zoomm.css" rel="stylesheet">



 


  <style>
  .body{
    font-family: 'Roboto', sans-serif;
}
    .zoom {
 
  transition: transform .2s; /* Animation */
 
}
  


.zoom:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
right: 12px;
    bottom: 12px;
    top: auto;
    left: auto;
}
   
.img{
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}
      .prod-listing {
    position: relative;
    }
    .list-unstyled {
    padding-left: 0;
    list-style: none;
}
html,
    body,
    header,
    .view {
      height: auto;
    }
    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: auto;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: auto;
      }
    }
  
    
  </style>
</head>

<body>

  <!-- Navigation & Intro -->
  <header>

    <!-- Navbar -->
    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar white">
      <div class="container">
        <a class="navbar-brand font-weight-bold title"href="/">Paintello</a>
        <!--Navigation icons-->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
          <li class="nav-item dropdown">
                       <a class="nav-link dropdown" id="menu1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user  black-text"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right bootstrap-menu  white scrollbar-default" aria-labelledby="menu1">
                        <% if (login){ %>
                          <a class="dropdown-item" href="/user/profile">profile</a>
                           <a class="dropdown-item" href="/user/logout">Logout</a>
                           <% } else{ %>
                           <a class="dropdown-item" href="/user/signup">Register</a>
                           <a class="dropdown-item" href="/user/signin">Sing up</a>
                           <% } %>
                 </div> 
          </li>
          <li class="nav-item ">
                      <a class="nav-link " id="menu2" href="/shop" role="button"  aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-shopping-cart black-text"></i>
                        <% if(session.cart){ %>
                      <span class="mycounter"><%= session.cart.totalQty %></span>
                      <% } %>
                      </a>
          </li>
    
        </ul>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          
        </button>
        
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="list-unstyled navbar-nav mr-auto">
         
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/sale/wow" data-offset="90">Nos Services</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/sale/clean" data-offset="90">interior paint</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/sale/furniteur" data-offset="90">Vinyl paint</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/sale/wow" data-offset="90">outils</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link title" href="/return" data-offset="90">Returns</a>
            </li>
            
          </ul>
          
          <!-- Social Icon  -->
         
              </div>
      </div>
  
         
      </div>
      </div>
    </nav>
   <h2 class="text-center text-uppercase">WELCOME TO Paintello</h2
    <div class="mb-4"> 
     
      <div class="container bm-container-md">	
      <a class="d-block h-100 overflow-hidden bm-img-link" href="/wow" target="_self">
        <picture>
            <img alt="New Wallpaper now in store at B&amp;M." class="w-100 bm-lazyload ls-is-cached lazyloaded"  src="https://s12.gifyu.com/images/SY8pm.jpg">
          </picture>
      </a>
      </div>	
      
      </div>
  </header>
