<%- include ("../partials/header") %>
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '633564199312760');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=633564199312760&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

 <!-- Navigation & Intro -->
  <!-- sale content -->
      <hr class="mt-4">
       <div class="bm-page">
          <div class="container">
              <div class="row">
              <div class="order-lg-last">
              <div class="mb-4 mb-lg-5 bm-content">

  <h2 class="text-center text-uppercase">Blue Colors</h2>
  <ul class="row justify-content-center list-unstyled mb-4">

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/bleu09">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54481135987_b23529b174.jpg">
  </div>
  <h2 class="h6 mb-0">BLUEDROP_756P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/bleue14">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54482180389_5e8774ddf9.jpg">
  </div>
  <h2 class="h6 mb-0">COOLMORA_744P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/blue08">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54482263638_167c17c6e5.jpg">
  </div>
  <h2 class="h6 mb-0">FRESHOBLUE_742P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/blue15">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54481135862_0261d66c2a.jpg">
  </div>
  <h2 class="h6 mb-0">TWEEDIA_752P</h2>
  </a>
  </li>



  
</ul></div></div></div></div></div>
  
  <%- include ("../partials/footer") %>.
